<h3 class="signature <%= 'first' if @index == 0 %>" id="<%= anchor_for(object) %>">
  <%= owner.tag(:service).text %>.waitFor('<strong><%= object.name %></strong>', params = {}, [callback]) &#x21d2; <%= linkify P('AWS.Request') %>
</h3>