<h3 class="signature <%= 'first' if @index == 0 %>" id="<%= anchor_for(object) %>">
  <small>(<%= linkify P('AWS.Request') %>)</small> <%= owner.tag(:service).text %>.waitFor('<strong><%= object.name %></strong>', params = {}, [callback])
</h3>